numpy==1.26.*
matplotlib==3.8.*
pandas==2.2.*
tqdm==4.66.*
pytest==8.0.*
jupyter==1.0.0
equinox==0.11.3
optax==0.1.9
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cpu
tensorboard==2.15.1

# install jax cpu version by hand
# pip install --upgrade pip
# pip install --upgrade "jax[cpu]"